/* universal selector, applies to all - defines border and padding in the values specified for elements width and height */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* deines background color behind everything */
body {
  background-color: #d9dcd6;
}

/* defines color, text style, background color, thickness of padding area for class= header */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* defines font size as well as color of "Hori"...inline-block allows for no line break between elements*/
.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* defines the color of "SEO" in main header */
.header h1 .seo {
  color: #818380;
}

/* styling for nav bar - padding, margin, positioning on the right, font style and size defined */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

/* styling to eliminate underlines */
.header nav ul {
  list-style-type: none;
}

/* styling for nav bar list items - margin from left side as well as eliminates line breakds between elements */
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* eliminates underlines, adds color to nav text */
a {
  color: #ffffff;
  text-decoration: none;
}

/* defines font size for paragraph */
p {
  font-size: 16px;
}

/* defines properties of background image */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* floats image to the left and defines how far from right border */
.float-left {
  float: left;
  margin-right: 25px;
}

/* floats image to the right and defines margin from left border */
.float-right {
  float: right;
  margin-left: 25px;
}

/* /* styling for article section */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* styling for the side bar */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefit-lead {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-brand {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* styling for background imagine, and first article section */
.search-engine-optimization {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* styling for 2nd article section */
.online-reputation-management {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* styling for 3rd article section */
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* more styling for article sections */
.search-engine-optimization img {
  max-height: 200px;
}

.online-reputation-management img {
  max-height: 200px;
}

.social-media-marketing img {
  max-height: 200px;
}

.search-engine-optimization h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* styling for footer */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}
